/* 예시 - 폰트 */

/* 
  font-weight
  300 - light
  400 - regular
  700 - bold
  800 - ExtraBold
*/

/* 영문 */
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("./font/Roboto-Light.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("./font/Roboto-Regular.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("./font/Roboto-Medium.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  font-weight: 800;
  font-style: normal;
  src: url("./font/Roboto-Bold.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("./font/Roboto-Black.ttf") format("truetype");
  font-display: block;
}

/* 한글 */
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  font-style: normal;
  src: url("./font/NanumSquareL.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  font-style: normal;
  src: url("./font/NanumSquareR.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  font-style: normal;
  src: url("./font/NanumSquareB.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  font-style: normal;
  src: url("./font/NanumSquareEB.woff") format("woff");
  font-display: block;
}
